@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <span>Pre-alfa</span>
            <a href="https://github.com/gabra666/wyrd-blazor" target="_blank" rel="noopener noreferrer">GitHub</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
